/* estilos externos a bootstrap para dar diseño a el sitio web */
body {
min-height: 75rem;
padding-top: 4.5rem;
}

.bd-placeholder-img {
font-size: 1.125rem;
text-anchor: middle;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

@media (min-width: 768px) {
.bd-placeholder-img-lg {
font-size: 3.5rem;
}
}
@media (max-width: 768px) {
  #ta{

  height: auto;
  font-size: 0.9rem;
}
}
.colorOne{
  background-color: #005582 !important;
}

.colorTwo{
  background-color: #00c2c7 !important;
}
.colorThree{
  background-color: #380036 !important;
}
.marginTop1{
  margin-top: 1% !important;
}
.marginLeft25{
  margin-left: 25% !important;
}
.marginLeft3{
  margin-left: 3% !important;
}
.marginRight3{
  margin-right: 5% !important;
}
.noMarginTop{
  margin-top: 0 !important;
}
.noMarginBot{
  margin-bottom: 0 !important;
}
.colorFour{
  background-color: 	#0086ad !important;
}
.textColor1{
  color: 	#0086ad !important;
}
.noTextDecoration{
  text-decoration: none !important;

}
.divisor{
  height: 0;
  margin: .5rem 0;
  overflow: hidden;
  border-top: 1px solid #005582;
}
.marginLeft40{
  margin-left: 40% !important;
}
.padding10{
  padding: 20px;
}
.height1{
  height: 90px !important;

}
